<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/style/textSettings.css">
    <link rel="stylesheet" href="./src/style/main.css">
    <link rel="stylesheet" href="./src/style/card.css">
    <link rel="stylesheet" href="./src/style/calendar.css">
    <link rel="stylesheet" href="./src/style/person_counter.css">
    <title>BSP</title>
</head>

<body>


    <div class="modalMenu" id="modalWindow">
        <div style="width: 100%; display: flex; justify-content:flex-end">
            <button class="btmMenuClose" id="closeModalBtn"></button>
        </div>

        <div class="modalContent">

            <section class="flexColStart">
                <a class="linkModalMenu" href="apartments.html">Апартаменты</a>
                <a class="linkModalMenu" href="index.html">О нас</a>
                <a class="linkModalMenu" href="rules.html">Правила проживания</a>
                <a class="linkModalMenu" href="">Контакты</a>
            </section>

            <section class="flexConRowStart">

                <div class="languageBlock">
                    <img class="languageImg" src="./src/img/flags/ru.svg">
                    <p class="languageText">Ru</p>
                </div>

                <div class="languageBlock notActive">
                    <img class="languageImg" src="./src/img/flags/us.svg">
                    <p class="languageText">Eng</p>
                </div>

                <div class="languageBlock notActive">
                    <img class="languageImg" src="./src/img/flags/ka.svg">
                    <p class="languageText">Geo</p>
                </div>

            </section>

        </div>
    </div>

    <header class="headerMedium">
        <div class="headerContainer">
            <a href="index.html"><img class="logoImg" src="./src/img/logo.svg"></a>
            <button class="btmMenu" id="openModalBtn"></button>
        </div>
        <div class="headerMediumFormContainer">
            <div class="content">
                <form class="formMiddle">
                    <div id="datePicker"></div>

                    <div class="inputBlock" id="dateText">
                        <img src="./src/img/form/date.svg" class="formIcon">
                        <input class="input" type="hidden" id="start-date-input" name="start-date-input">
                        <input class="input" type="hidden" id="end-date-input" name="end-date-input">
                        <p id="dateTextValue">Дата заезда — выезда</p>
                    </div>

                    <div id="personsPicker"></div>

                    <div class="inputBlock" id="personsText">
                        <img src="./src/img/form/guests.svg" class="formIcon">
                        <input class="input" type="hidden" id="adults-input" name="adults-input">
                        <input class="input" type="hidden" id="children-input" name="children-input">
                        <p id="personsTextValue">Количество гостей</p>
                    </div>

                    <button class="btn">Забронировать</button>
                </form>
            </div>
        </div>
    </header>

    <main style="margin-bottom: 6rem;">


        <div class="content">
            <h2 style="justify-content: flex-start;">Найдено 10 апартаментов</h2>

            <div class="btnFilterBlock">
                <select name="my_list" id="my_list" class="filterBtn filterBtnText"
                    style="box-sizing: border-box; padding: 0 0.5rem;">
                    <option value="value1" class="filterBtnText">Сортировка: Сначала дорогие</option>
                    <option value="value2" class="filterBtnText">Сортировка: Сначала дешевле</option>
                    <option value="value3" class="filterBtnText">Сортировка: Ближе к морю</option>
                    <option value="value3" class="filterBtnText">Сортировка: Высокая оценка </option>
                </select>

                <div class="filterBtn">
                    <img src="./src/img/filter.svg">
                    <p class="filterBtnText">Фильтры</p>
                </div>
            </div>
        </div>

        <div class="content">

            <section class="wrapper">
                <a href="details.html" style="text-decoration: none;">
                    <div class="card">
                        <img class="imgCard" src="./src/img/photo/apart1.jpg" class="formIcon">

                        <div class="cardInfo">
                            <section class="flexConRowCenter">
                                <p class="nameCard">Двухуровневый люкс с 2 спальнями</p>
                                <div class="ratingBlock">
                                    <img src="./src/img/star1.svg" class="formIcon">
                                    <p>5.0</p>
                                </div>
                            </section>

                            <p class="descriptionCard">86 м² · 2 кровати · 1 ванная · Балкон · Быстрое заселение</p>

                            <section style="width: 100%;">
                                <section class="flexConRowStart priceBlock">
                                    <p class="priceSum">90$</p>
                                    <section class="priceDec" style="justify-content:flex-start">
                                        <p>за 1 ночь</p>
                                        <p>включая налоги и сборы</p>
                                    </section>
                                </section>
                                <button class="btnBook"><p class="btnBookDesc">Проверить наличие</p></button>
                            </section>
                        </div>
                    </div>
                </a>

                <a href="details.html" style="text-decoration: none;">
                    <div class="card">
                        <img class="imgCard" src="./src/img/photo/apart2.png" class="formIcon">

                        <div class="cardInfo">
                            <section class="flexConRowCenter">
                                <p class="nameCard">Двухуровневый люкс с 2 спальнями</p>
                                <div class="ratingBlock">
                                    <img src="./src/img/star1.svg" class="formIcon">
                                    <p>5.0</p>
                                </div>
                            </section>

                            <p class="descriptionCard">86 м² · 2 кровати · 1 ванная · Балкон · Быстрое заселение</p>

                            <section style="width: 100%;">
                                <section class="flexConRowStart priceBlock">
                                    <p class="priceSum">100$</p>
                                    <section class="priceDec" style="justify-content:flex-start">
                                        <p>за 1 ночь</p>
                                        <p>включая налоги и сборы</p>
                                    </section>
                                </section>
                                <button class="btnBook"><p class="btnBookDesc">Проверить наличие</p></button>
                            </section>
                        </div>
                    </div>
                </a>
            </section>
        </div>
    </main>

    <footer class="footerBackground">
        <div class="footerLanguageBlock">
            <img class="languageImg" src="./src/img/flags/ru.svg">
            <p>Ru</p>
        </div>

        <div class="footerLinkBlock">
            <a class="footerLink" href="index.html">О нас</a>
            <a class="footerLink" href="apartments.html">Апартаменты</a>
            <a class="footerLink" href="rules.html">Правила проживания</a>
            <a class="footerLink" href="">Документы</a>
            <a class="footerLink" href="">Договор оферты</a>
        </div>

        <div class="footerLogoBlock">
            <img src="./src/img/logo.svg" class="logoImg">
            <p class="footerP">© БСП Групп, 2025</p>
        </div>
    </footer>

    <script src="./src/scripts/modal_window.js"></script>
    <script src="./src/scripts/calendar.js"></script>
    <script src="./src/scripts/person_counter.js"></script>
</body>

</html>