<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/textSettings.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/card.css" %}">
    <link rel="stylesheet" href="{% static "css/cardService.css" %}">
    <title>PlaySpot</title>
</head>

<body>

    <header class="headerSmall">
    </header>

    <main style="margin-bottom: 6rem;">
        <div class="content">
            <div class="infoBlockApart">
                <a href="/"  class="btnBack flexConRowStart">← На главную</a>
                <h2 style="justify-content: flex-start; margin-top: 0;">Бронирование подтверждено!</h2>
            </div>
            <div class="containerDetails">
                <div class="formGuest flexColStart"
                    style="min-height: 344px; justify-content: space-between; height: 100%">
                    <p>Большое спасибо за ваше доверия и успешно проведенную оплату!
                        Ваше бронирование полностью подтверждено.
                        Мы уже начали готовиться к вашему визиту и ждем вас.
                    </p>
                    <p>
                        Команда Sport 🖤
                    </p>

                    <div style="margin-top: 4rem;">
                        <p>Если у вас возникнут вопросы, обращайтесь:</p>
                        <div>
                            <div class="contact">
                                <img class="logoImgFinal" src="{% static "images/phone.svg" %}">
                                <p>+1 123 123-45-67</p>
                            </div>

                            <div class="contact">
                                <img class="logoImgFinal" src="{% static "images/letter.svg" %}">
                                <p>sport@example.com</p>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="containerFile" style="width:400px; height:100%">
                    <img src="/static/images/playgrounds/{{playground.images}}/1.jpg" class="imgMini" id="mainPhoto" style="width:360px; height:220px">
                    <div style="font-style: normal;font-weight: 700;font-size: 20px;line-height: 24px;color: #000000;  border-bottom: 1px solid gray; padding: 1rem 0; width: 100%;">{{playground.name}}</div>
                    <div style="font-style: normal;font-weight: 600;font-size: 20px;line-height: 24px;color: #000000; border-bottom: 1px solid gray; padding: 1rem 0; width: 100%;">{{rentDate}}</div>
                    {% for hour in hours %}
                        <div style="font-style: normal;font-weight: 600;font-size: 20px;line-height: 24px;color: #000000; border-bottom: 1px solid gray; padding: 1rem 0; width: 100%;">{{hour}}:00-{{hour|add:"1"}}:00</div>
                    {% endfor %}
                    <div class="priceSumDet">{{finalPrice}} ₽</div>
                </div>

            </div>

        </div>
    </main>

    <script src="{% static "js/modal_window.js" %}"></script>
</body>

</html>