<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/textSettings.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/card.css" %}">
    <link rel="stylesheet" href="{% static "css/cardService.css" %}">
    <link rel="stylesheet" href="{% static "css/review.css" %}">
    <link rel="stylesheet" href="{% static "css/calendar.css" %}">
    <link rel="stylesheet" href="{% static "css/person_counter.css" %}">
    <title>BSP</title>
</head>

<body>
    <div class="modalMenu" id="modalWindow">
        <div style="width: 100%; display: flex; justify-content:flex-end">
            <button class="btmMenuClose" id="closeModalBtn"></button>
        </div>

        <div class="modalContent">

            <section class="flexColStart">
                <a class="linkModalMenu" href="apartments.html">Апартаменты</a>
                <a class="linkModalMenu" href="index.html">О нас</a>
                <a class="linkModalMenu" href="rules.html">Правила проживания</a>
                <a class="linkModalMenu" href="">Контакты</a>
            </section>

            <section class="flexConRowStart">

                <div class="languageBlock">
                    <img class="languageImg" src="{% static "images/flags/ru.svg" %}">
                    <p class="languageText">Ru</p>
                </div>

                <div class="languageBlock notActive">
                    <img class="languageImg" src="{% static "images/flags/us.svg" %}">
                    <p class="languageText">Eng</p>
                </div>

                <div class="languageBlock notActive">
                    <img class="languageImg" src="{% static "images/flags/ka.svg" %}">
                    <p class="languageText">Geo</p>
                </div>

            </section>

        </div>
    </div>

    <header class="headerSmall">
        <div class="headerContainer">
            <a href="index.html"><img class="logoImg" src="{% static "images/logo.svg" %}"></a>
            <button class="btmMenu" id="openModalBtn"></button>
        </div>
    </header>

    <main>
        <div class="contentDetails">

            <div class="cardPart">
                <div class="infoBlockApart">
                    <a href="apartments.html" class="btnBack flexConRowStart">← Все апартаменты</a>
                    <h2 style="justify-content: flex-start; margin-top: 0; margin-bottom: 25px;">Двухуровневый люкс с 2 спальнями</h2>

                    <div class="infApartBl">
                        <div class="ratingBlockApart">
                            <img src="{% static "images/star1.svg" %}" class="formIconStar">
                            <p>5.0</p>
                            <p>(4 отзыва)</p>
                        </div>
                        <p class="descriptionCard" style="color: #000; width: 100%;">86 м² · 2 кровати · 1 ванная ·
                            Балкон · Быстрое
                            заселение </p>
                    </div>
                </div>

                <div class="cardPart">
                    <div class="imgBlock" style="width: 100%; margin-top: 1rem;">
                        <div class="imgArrBlock">
                            <div class="bannerBlock">
                                <div class="infoBanner" style="background-color: #4460FF;">Последний свободный номер
                                </div>
                                <div class="infoBanner" style="background-color: #C144FF;">Бесплатная отмена</div>
                            </div>
                            <img src="/static/images/playgrounds/{{playground.images}}/1.jpg" class="imgBig" id="mainPhoto">
                            <button class="arrow left-arrow" id="prevPhoto"><img src="{% static "images/service/prevPhoto.svg" %}"></button>
                            <button class="arrow right-arrow" id="nextPhoto"><img src="{% static "images/service/nextPhoto.svg" %}"></button>
                        </div>


                        <div class="imgBlockMini">
                            <img src="/static/images/playgrounds/{{playground.images}}/1.jpg" class="imgMini">
                            <img src="/static/images/playgrounds/{{playground.images}}/2.jpg" class="imgMini">
                            <img src="/static/images/playgrounds/{{playground.images}}/3.jpg" class="imgMini">
                            <img src="/static/images/playgrounds/{{playground.images}}/4.jpg" class="imgMini">
                            <img src="/static/images/playgrounds/{{playground.images}}/5.jpg" class="imgMini">
                            <img src="/static/images/playgrounds/{{playground.images}}/6.jpg" class="imgMini">
                            <img src="/static/images/playgrounds/{{playground.images}}/7.jpg" class="imgMini">
                            <img src="/static/images/playgrounds/{{playground.images}}/8.jpg" class="imgMini">
                        </div>
                    </div>

                    <div class="informationBlockApart">
                        <section class="informationBlockApartMin">
                            <h3>Информация</h3>
                            <p>
                                Просторные апартаменты с 2 спальнями, гостиной и кухней для семьи или компании. Общая
                                площадь 86
                                м², в апартаментах два санузла и балкон. Апартаменты находятся на 26 этаже здания Orbi
                                Residence, известного также как «Дом-Волна». Из окон открывается прекрасный вид на крыши
                                города,
                                горы и Черное море.
                            </p>
                        </section>



                        <section class="informationBlockApartMin">
                            <h3>Календарь аппартаментов</h3>
                        </section>
                    </div>
                </div>
            </div>
            <div id="rentSettings" class="rentSettings">
                <p class="priceSumDet" style="margin-bottom: 0.25rem;">990$</p>
                <section class="priceDecDetSerDet">
                    <p>за 9 ночей</p>
                    <p>включая налоги и сборы</p>
                </section>

                <form class="formApart">

                    <div id="datePicker" class="datePickerDetails"></div>

                    <div class="inputBlockDetails" style="border: 1px solid rgba(0, 0, 0, 0.24);" id="dateText">
                        <img src="{% static "images/form/date.svg" %}" class="formIcon">
                        <input class="input" type="hidden" id="start-date-input" name="start-date-input">
                        <input class="input" type="hidden" id="end-date-input" name="end-date-input">
                        <p id="dateTextValue">Дата заезда — выезда</p>
                    </div>

                    <div id="personsPicker" class="personsCounterContainerDetails"></div>

                    <div class="inputBlockDetails" style="border: 1px solid rgba(0, 0, 0, 0.24);" id="personsText">
                        <img src="{% static "images/form/guests.svg" %}" class="formIcon">
                        <input class="input" type="hidden" id="adults-input" name="adults-input">
                        <input class="input" type="hidden" id="children-input" name="children-input">
                        <p id="personsTextValue">Количество гостей</p>
                    </div>

                    <button class="btn">Забронировать</button>
                </form>
            </div>
        </div>
    </main>

    <footer class="footerBackground">
    </footer>

    <script src="{% static "js/modal_window.js" %}"></script>
    <script src="{% static "js/calendar.js" %}"></script>
    <script src="{% static "js/person_counter.js" %}"></script>
    <script src="{% static "js/photo_controller.js" %}"></script>
</body>

</html>