<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/style/textSettings.css">
    <link rel="stylesheet" href="./src/style/main.css">
    <link rel="stylesheet" href="./src/style/cardService.css">
    <link rel="stylesheet" href="./src/style/card.css">
    <link rel="stylesheet" href="./src/style/review.css">
    <link rel="stylesheet" href="./src/style/calendar.css">
    <link rel="stylesheet" href="./src/style/person_counter.css">
    <title>BSP</title>
</head>

<body>
    <div class="modalMenu" id="modalWindow">
        <div style="width: 100%; display: flex; justify-content:flex-end">
            <button class="btmMenuClose" id="closeModalBtn"></button>
        </div>

        <div class="modalContent">

            <section class="flexColStart">
                <a class="linkModalMenu" href="apartments.html">Апартаменты</a>
                <a class="linkModalMenu" href="index.html">О нас</a>
                <a class="linkModalMenu" href="rules.html">Правила проживания</a>
                <a class="linkModalMenu" href="">Контакты</a>
            </section>

            <section class="flexConRowStart">

                <div class="languageBlock">
                    <img class="languageImg" src="./src/img/flags/ru.svg">
                    <p class="languageText">Ru</p>
                </div>

                <div class="languageBlock notActive">
                    <img class="languageImg" src="./src/img/flags/us.svg">
                    <p class="languageText">Eng</p>
                </div>

                <div class="languageBlock notActive">
                    <img class="languageImg" src="./src/img/flags/ka.svg">
                    <p class="languageText">Geo</p>
                </div>

            </section>

        </div>
    </div>

    <header class="headerSmall">
        <div class="headerContainer">
            <a href="index.html"><img class="logoImg" src="./src/img/logo.svg"></a>
            <button class="btmMenu" id="openModalBtn"></button>
        </div>
    </header>

    <main>
        <div class="contentDetails">

            <div class="cardPart">
                <div class="infoBlockApart">
                    <a href="apartments.html" class="btnBack flexConRowStart">← Все апартаменты</a>
                    <h2 style="justify-content: flex-start; margin-top: 0; margin-bottom: 25px;">Двухуровневый люкс с 2 спальнями</h2>

                    <div class="infApartBl">
                        <div class="ratingBlockApart">
                            <img src="./src/img/star1.svg" class="formIconStar">
                            <p>5.0</p>
                            <p>(4 отзыва)</p>
                        </div>
                        <p class="descriptionCard" style="color: #000; width: 100%;">86 м² · 2 кровати · 1 ванная ·
                            Балкон · Быстрое
                            заселение </p>
                    </div>
                </div>

                <div class="cardPart">
                    <div class="imgBlock" style="width: 100%; margin-top: 1rem;">
                        <div class="imgArrBlock">
                            <div class="bannerBlock">
                                <div class="infoBanner" style="background-color: #4460FF;">Последний свободный номер
                                </div>
                                <div class="infoBanner" style="background-color: #C144FF;">Бесплатная отмена</div>
                            </div>
                            <img src="./src/img/photo/1.jpg" class="imgBig" id="mainPhoto">
                            <button class="arrow left-arrow" id="prevPhoto"><img src="./src/img/prevPhoto.svg"></button>
                            <button class="arrow right-arrow" id="nextPhoto"><img src="./src/img/nextPhoto.svg"></button>
                        </div>


                        <div class="imgBlockMini">
                            <img src="./src/img/photo/1.jpg" class="imgMini">
                            <img src="./src/img/photo/2.jpg" class="imgMini">
                            <img src="./src/img/photo/3.jpg" class="imgMini">
                            <img src="./src/img/photo/4.jpg" class="imgMini">
                            <img src="./src/img/photo/5.jpg" class="imgMini">
                            <img src="./src/img/photo/6.jpg" class="imgMini">
                            <img src="./src/img/photo/7.jpg" class="imgMini">
                            <img src="./src/img/photo/8.jpg" class="imgMini">
                        </div>
                    </div>

                    <div class="informationBlockApart">
                        <section class="informationBlockApartMin">
                            <h3>Информация</h3>
                            <p>
                                Просторные апартаменты с 2 спальнями, гостиной и кухней для семьи или компании. Общая
                                площадь 86
                                м², в апартаментах два санузла и балкон. Апартаменты находятся на 26 этаже здания Orbi
                                Residence, известного также как «Дом-Волна». Из окон открывается прекрасный вид на крыши
                                города,
                                горы и Черное море.
                            </p>
                        </section>

                        <section class="informationBlockApartMin">

                            <h3>Удобства</h3>
                            <div class="wrapper" style="row-gap: 0; justify-content: flex-start;">

                                <div class="cardFacilities">
                                    <div class="imgServiceD"></div>
                                    <p class="facilities">Кухня</p>
                                </div>

                                <div class="cardFacilities">
                                    <p class="facilities">Wi-Fi</p>
                                </div>

                                <div class="cardFacilities">
                                    <p class="facilities">Рабочая зона</p>
                                </div>

                                <div class="cardFacilities">
                                    <p class="facilities">Телевизор</p>
                                </div>

                                <div class="cardFacilities">
                                    <p class="facilities">Стиральная машина</p>
                                </div>

                                <div class="cardFacilities">
                                    <p class="facilities">Сушильная машина</p>
                                </div>

                                <div class="cardFacilities">
                                    <p class="facilities">Можно оставить багаж</p>
                                </div>

                                <div class="cardFacilities">
                                    <p class="facilities">Фен</p>
                                </div>

                                <div class="cardFacilities">
                                    <p class="facilities">Холодильник</p>
                                </div>

                                <div class="cardFacilities">
                                    <p class="facilities">Утюг</p>
                                </div>
                            </div>
                        </section>

                        <section class="informationBlockApartMin">
                            <h3>Календарь аппартаментов</h3>
                        </section>

                        <section class="informationBlockApartMin">
                            <h3>Отзывы</h3>

                            <div class="cardReview" style="width: 100%;">

                                <div class="cardInfoReview">

                                    <section class="flexConRowCenter"
                                        style="justify-content:space-between; width: 100%;">
                                        <div>
                                            <p class="nameCardReview">Влада</p>
                                            <p class="discriptionCardReview">ноябрь 2025 · 3 ночи</p>
                                        </div>

                                        <div class="flexConRowCenter ratingBlock">
                                            <img src="./src/img/star1.svg" class="formIcon">
                                            <p>5.0</p>
                                        </div>
                                    </section>
                                    <div class="descriptionReviewBlock">
                                        <p class="descriptionReview">Квартира идеально плье очен подхорудовано и
                                            предлагает
                                            ви фа особенно
                                            расслабляющим. Жилье очен подхорудовано и предлагает ви фа особе
                                            подхорудовано и
                                            предлагает ви фа
                                            особенно расслабляющим. Жилье очен подхорудовано и предлагает ви фа особенно
                                            расслабляющим. Жилье
                                            очен подхорудовано и предлагает ви фа особенно расслабляющим. Жилье очен
                                            подхорудовано и предлагает
                                            ви фа особенно расслабляющим. Жилье оченнно расслабляющим. Жилье оченви фа
                                            особенно расслабляющим.
                                            Жилье очень хорошо оборудовано и предлагает в ви фа особенно расслабляющим.
                                            Жилье очень хорошо
                                            оборудовано и предлагает в расслабляющим. Жилье очень хорошо оборудовано и
                                            предлагает все
                                            необходимое для спокойного отдыха. Мы чувствовали себя очень комфортно и
                                            обязательно забронируем
                                            квартиру снова.
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <section style="width: 100%; margin-top: 1rem;">
                                <button class="btnBook" style="font-size: 18px; padding: 0 2rem;"><p class="btnBookDesc">Читать 16 отзывов</p></button>
                            </section>
                        </section>

                        <section class="informationBlockApartMin" style="margin-bottom: 5rem;">
                            <h3>Расположение</h3>
                            <div style="width: 100%;">
                                <div class="flexConRowStart" style="align-items:flex-end; margin-bottom: 1rem;">
                                    <img src="./src/img/iconP.svg"
                                        style="width: 21px; height: 32px; margin: 0 0.5rem 0 0;">
                                    <p style="margin: 0;">Автономная Республика Аджария, Батуми, улица Юсуфа Кобаладзе,
                                        2
                                    </p>
                                </div>
                                <div>
                                    <img src="./src/img/cart.png" class="imgBig">
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
            <div id="rentSettings" class="rentSettings">
                <p class="priceSumDet" style="margin-bottom: 0.25rem;">990$</p>
                <section class="priceDecDetSerDet">
                    <p>за 9 ночей</p>
                    <p>включая налоги и сборы</p>
                </section>

                <form class="formApart">

                    <div id="datePicker" class="datePickerDetails"></div>

                    <div class="inputBlockDetails" style="border: 1px solid rgba(0, 0, 0, 0.24);" id="dateText">
                        <img src="./src/img/form/date.svg" class="formIcon">
                        <input class="input" type="hidden" id="start-date-input" name="start-date-input">
                        <input class="input" type="hidden" id="end-date-input" name="end-date-input">
                        <p id="dateTextValue">Дата заезда — выезда</p>
                    </div>

                    <div id="personsPicker" class="personsCounterContainerDetails"></div>

                    <div class="inputBlockDetails" style="border: 1px solid rgba(0, 0, 0, 0.24);" id="personsText">
                        <img src="./src/img/form/guests.svg" class="formIcon">
                        <input class="input" type="hidden" id="adults-input" name="adults-input">
                        <input class="input" type="hidden" id="children-input" name="children-input">
                        <p id="personsTextValue">Количество гостей</p>
                    </div>

                    <button class="btn">Забронировать</button>
                </form>
            </div>
        </div>
    </main>

    <footer class="footerBackground">
        <div class="footerLanguageBlock">
            <img class="languageImg" src="./src/img/flags/ru.svg">
            <p>Ru</p>
        </div>

        <div class="footerLinkBlock">
            <a class="footerLink" href="index.html">О нас</a>
            <a class="footerLink" href="apartments.html">Апартаменты</a>
            <a class="footerLink" href="rules.html">Правила проживания</a>
            <a class="footerLink" href="">Документы</a>
            <a class="footerLink" href="">Договор оферты</a>
        </div>

        <div class="footerLogoBlock">
            <img src="./src/img/logo.svg" class="logoImg">
            <p class="footerP">© БСП Групп, 2025</p>
        </div>
    </footer>

    <script src="./src/scripts/modal_window.js"></script>
    <script src="./src/scripts/calendar.js"></script>
    <script src="./src/scripts/person_counter.js"></script>
    <script src="./src/scripts/photo_controller.js"></script>
</body>

</html>