<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/textSettings.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/card.css" %}">
    <link rel="stylesheet" href="{% static "css/cardService.css" %}">
    <link rel="stylesheet" href="{% static "css/review.css" %}">
    <link rel="stylesheet" href="{% static "css/calendar.css" %}">
    <link rel="stylesheet" href="{% static "css/person_counter.css" %}">
    <title>BSP</title>
</head>

<body>
    <div class="modalMenu" id="modalWindow">
        <div style="width: 100%; display: flex; justify-content:flex-end">
            <button class="btmMenuClose" id="closeModalBtn"></button>
        </div>

        <div class="modalContent">

            <section class="flexColStart">
                <a class="linkModalMenu" href="apartments.html">Апартаменты</a>
                <a class="linkModalMenu" href="index.html">О нас</a>
                <a class="linkModalMenu" href="rules.html">Правила проживания</a>
                <a class="linkModalMenu" href="">Контакты</a>
            </section>

            <section class="flexConRowStart">

                <div class="languageBlock">
                    <img class="languageImg" src="{% static "images/flags/ru.svg" %}">
                    <p class="languageText">Ru</p>
                </div>

                <div class="languageBlock notActive">
                    <img class="languageImg" src="{% static "images/flags/us.svg" %}">
                    <p class="languageText">Eng</p>
                </div>

                <div class="languageBlock notActive">
                    <img class="languageImg" src="{% static "images/flags/ka.svg" %}">
                    <p class="languageText">Geo</p>
                </div>

            </section>

        </div>
    </div>

    <header class="headerBig">
        <div class="headerContainer">
            <a href="index.html"><img class="logoImg" src="{% static "images/logo.svg" %}"></a>
            <button class="btmMenu" id="openModalBtn"></button>
        </div>
        <div class="startBanner">
            <div class="content">
                <div>
                    <h1 class="montserrat-extrabold" style="margin: 0;">Black Sea Point — ваш<br>новый опыт в путешествиях</h1>
                    <p class="txtBanner">Проверьте доступность апартаментов на ваши даты<br>пребывания в Батуми</p>
                </div>
            </div>

        </div>


    </header>

    <main>
        <div class="content">
            <h2 style="justify-content: flex-start;">Наши площадки</h2>

            <section class="wrapper">

                {% for playground in playgrounds %}
                    <a href="details?id={{playground.id}}" style="text-decoration: none;">
                        <div class="card">
                            <img class="imgCard" src="/static/images/playgrounds/{{playground.images}}/main_page.png" class="formIcon">

                            <div class="cardInfo">
                                <section class="flexConRowCenter">
                                    <p class="nameCard">{{playground.name}}</p>
                                    <div class="ratingBlock">
                                        <img src="{% static "images/star1.svg" %}" class="formIcon">
                                        <p>5.0</p>
                                    </div>
                                </section>

                                <section style="width: 100%;">
                                    <section class="flexConRowStart priceBlock">
                                        <p class="priceSum">{{playground.price}}</p>
                                        <section class="priceDec" style="justify-content:flex-start">
                                            <p>за 1 час</p>
                                            <p>включая налоги и сборы</p>
                                        </section>
                                    </section>
                                    <button class="btnBook"><p class="btnBookDesc">Проверить наличие</p></button>
                                </section>

                            </div>
                        </div>
                    </a>
                {% endfor %}
            </section>
        </div>
    </main>

    <footer class="footerBackground">
    </footer>


    <script src="{% static "js/modal_window.js" %}"></script>
    <script src="{% static "js/calendar.js" %}"></script>
    <script src="{% static "js/person_counter.js" %}"></script>
</body>

</html>